<div class=content>
    <div class="barraLateral">
        <p class="saudacao">Bem Vindo à TUPaper</p>
    </div>
    <div class="cadastro">
        <div class="form">
            <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
                <p class="crieConta">Crie Sua Conta TU</p>
                <div class='name'>
                    <img src="../../assets/icons/user.png" class="icon">
                    <input [class.invalid]="registerForm.controls.name.invalid && registerForm.controls.name.dirty" type="text" placeholder="nome de usuário" style="text-align: center" formControlName="name" >
                </div>
                <div class="email">
                    <img src="../../assets/icons/mail.png" class="icon">
                    <input [class.invalid]="registerForm.controls.email.invalid && registerForm.controls.email.dirty" type="email" placeholder="email" style="text-align: center" formControlName="email">
                </div>  
                <div class="senha">
                    <img src="../../assets/icons/key.png" class="icon">
                    <input [class.invalid]="registerForm.controls.password.invalid && registerForm.controls.password.dirty" type="password" placeholder="senha" style="text-align: center" formControlName="password">
                </div> 
                <button type="submit" class="bttn">Criar Conta</button>
            </form>
        </div>
        <label class="vaiParaLogin">Já Possui? Faça Seu Login!</label>
        <button type='button' class="bttn2" routerLink='/login' >Fazer Login</button>
    </div>
</div>