<div class=content>
    <div class="barraLateral">
        <p class="saudacao">Bem Vindo à TUPaper</p>
    </div>
    <div class="cadastro">
        <div class="form">
            <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
                <p class="crieConta">FAÇA SEU LOGIN</p>
                <div class="email">
                    <img src="../../assets/icons/mail.png" class="icon">
                    <input [class.invalid]="loginForm.controls.email.invalid && loginForm.controls.email.dirty" type="email" placeholder="email" style="text-align: center" formControlName="email">
                </div>  
                <div class="senha">
                    <img src="../../assets/icons/key.png" class="icon">
                    <input [class.invalid]="loginForm.controls.password.invalid && loginForm.controls.password.dirty" type="password" placeholder="senha" style="text-align: center" formControlName="password">
                </div> 
                <button type="submit" class="bttn"  style="text-align: center; align-self:center">Entrar</button>
            </form>
        </div>
        <label class="vaiParaLogin">NÃO POSSUI UMA CONTA?</label>
    <button type='button' class="bttn2" routerLink='/cadastro'>Criar Conta</button>
    </div>
</div>